# Data Science Tools and Ecosystem

A notebook containing summary of what I have learned so far regarding Data Science and various tools that are used for different purposes.

__Objectives__

- Popular Languages
- Popular Libraries
- Arthematics in a Notebook
- Commenting in a Code Cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools |
-
|Jupyter Notebook|
|RStudio|
|PyCharm|
|Adobe Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rohan Gupta